{% extends "base.html" %}
{%load static %}
{% block title %}About{% endblock %}

{% block style %}
{% endblock %}

{% block index %}
{% endblock %}

{% block content %}
<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">About Us</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->


  <div class="page-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp">
          <h1 class="text-center mb-3">Welcome to Your Image Mining</h1>
          <div class="text-lg">
            <p>Image mining is the process of extracting useful information and patterns from image data. It combines techniques from image processing, computer vision, and data mining to analyze and interpret visual data. </p>
            <h5>Image Classification: Assigning labels or categories to images based on their content. For example, classifying images into categories like 'dog,' 'cat,' or 'car.'</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
